{% extends '@SharedProjectTimesheets/top-nav-layout/base.html.twig' %}

{% block page_title %}{{ 'shared_project_timesheets.view.title' | trans }} {{ sharedProject.project.name }}{% endblock %}
{% block page_subtitle %}{{ 'shared_project_timesheets.view.subtitle' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('chart') }}
    <style type="text/css">
        .select-container {
            display: flex;
        }

        .select-container > .flex {
            flex: 1;
        }
        .disable_month:checked + .month-container{
            display: none;
        }
    </style>
{% endblock %}

{% block head %}
    {{ parent() }}
    {{ encore_entry_script_tags('chart') }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'shared_project_timesheets.view.selection_title' | trans }}</h3>
                </div>
                <div class="box-body">
                    <form method="GET" action="{{ app.request.getBaseURL() }}{{ app.request.pathinfo }}">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="checkbox" value="1" name="disable_month" class="disable_month" {% if disable_month >= 1 %} checked {% endif %}> Whole year

                                <div class="btn-group select-container month-container">
                                    <select name="month" class="form-control" >
                                        {% for i in 1..12 %}
                                            <option {% if i == month %} selected {% endif %} value="{{ i }}">
                                                {{ ('shared_project_timesheets.view.month.' ~ i) | trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <br>
                                <select name="year" class="form-control" >
                                    {% for i in (year - 5)..(year + 5) %}
                                        <option {% if i == year %} selected {% endif %} value="{{ i }}">
                                            {{ i }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12 p-3">
                                <br>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
            {% if sharedProject.projectBudgetVisible %}
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'shared_project_timesheets.view.project_budget' | trans }}</h3>
                        </div>
                        <div class="box-body">
                            <b>{{ 'shared_project_timesheets.view.project_total_budget' | trans }}</b>: {{ project.budget | format_currency(currency) }}<br>
                            <b>{{ 'shared_project_timesheets.view.project_used_budget' | trans }}</b>: {{ rateSum | format_currency(currency) }}<br>
                            <b>{{ 'shared_project_timesheets.view.project_open_budget' | trans }}</b>: {{ openBudget | format_currency(currency) }}<br>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if sharedProject.projectTimeBudgetVisible %}
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'shared_project_timesheets.view.time_budget' | trans }}</h3>
                        </div>
                        <div class="box-body">
                            <b>{{ 'shared_project_timesheets.view.project_total_budget' | trans }}</b>: {{ totalTimeBudget | duration }}<br>
                            <b>{{ 'shared_project_timesheets.view.project_used_budget' | trans }}</b>: {{ timeDurationSum | duration }}<br>
                            <b>{{ 'shared_project_timesheets.view.project_open_budget' | trans }}</b>: {% if timeDurationSum > totalTimeBudget %} {{ '-' }} {% endif %} {{ openTimeBudget | duration }}<br>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>    
        </div>
        {% if statsPerMonth != null %}
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'shared_project_timesheets.view.chart.per_month_title' | trans({'%year%': year}) }}</h3>
                </div>
                <div class="box-body">
                    {% include '@SharedProjectTimesheets/view/chart/annual-chart.html.twig' with {year: year, month: month, statsPerMonth: statsPerMonth} %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title{% if monthlyChartVisible %} pull-left{% endif %}">{{ 'shared_project_timesheets.view.table.title' | trans }}</h3>
            {% if monthlyChartVisible %}
            <div class="btn-group pull-right">
                <a href="{{ app.request.getBaseURL() }}{{ app.request.pathinfo }}?year={{ year }}&month={{ month }}&disable_month={{ disable_month }}" class="btn btn-default btn-sm">
                    <i class="fa fa-table"></i>
                    {{ 'shared_project_timesheets.view.details.table' | trans }}
                </a>
                {% if disable_month == 0 %}
                <a href="{{ app.request.getBaseURL() }}{{ app.request.pathinfo }}?year={{ year }}&month={{ month }}&details=chart&disable_month={{ disable_month }}" class="btn btn-default btn-sm">
                    <i class="fa fa-chart-bar"></i>
                    {{ 'shared_project_timesheets.view.details.chart' | trans }}
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="box-body no-padding">
            {% if statsPerDay == null %}
            <table class="table table-striped table-hover" id="stats-table">
                <thead>
                    <tr>
                        <th>{{ 'shared_project_timesheets.view.table.date' | trans }}</th>
                        {% if sharedProject.activityVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.activity' | trans }}</th>
                        {% endif %}
                        <th>{{ 'shared_project_timesheets.view.table.description' | trans }}</th>
                        <th>{{ 'shared_project_timesheets.view.table.duration' | trans }}</th>
                        {% if sharedProject.entryUserVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.user' | trans }}</th>
                        {% endif %}
                        {% if sharedProject.entryRateVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.rate_hour' | trans }}</th>
                        <th>{{ 'shared_project_timesheets.view.table.rate_total' | trans }}</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'shared_project_timesheets.view.table.date' | trans }}</th>
                        {% if sharedProject.activityVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.activity' | trans }}</th>
                        {% endif %}
                        <th>{{ 'shared_project_timesheets.view.table.description' | trans }}</th>
                        <th>{{ 'shared_project_timesheets.view.table.duration' | trans }}</th>
                        {% if sharedProject.entryUserVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.user' | trans }}</th>
                        {% endif %}
                        {% if sharedProject.entryRateVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.rate_hour' | trans }}</th>
                        <th>{{ 'shared_project_timesheets.view.table.rate_total' | trans }}</th>
                        {% endif %}
                    </tr>
                </thead>
                {% for record in timeRecords %}
                    <tr>
                        <td>{{ record.date | date_short }}</td>
                        {% if sharedProject.activityVisible %}
                            <td>{{ record.activity.name }}</td>
                        {% endif %}
                        <td>{{ record.description | e | nl2br }}</td>
                        <td>{{ record.duration | duration }}</td>
                        {% if sharedProject.entryUserVisible %}
                            <td>{{ record.user.displayName }}</td>
                        {% endif %}
                        {% if sharedProject.entryRateVisible %}
                            {% if record.differentHourlyRates %}
                                <td>
                                    {% for info in record.hourlyRates %}
                                        <div>{{ info.duration | duration }} - {{ info.hourlyRate | format_currency(currency) }}</div>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>{{ record.hourlyRates[0].hourlyRate | format_currency(currency) }}</td>
                            {% endif %}
                            <td>{{ record.rate | format_currency(currency) }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if timeRecords is not empty %}
                <tfoot>
                    <tr>
                        <th></th>
                        {% if sharedProject.activityVisible %}
                        <th></th>
                        {% endif %}
                        <th></th>
                        <th>{{ durationSum | duration }}</th>
                        {% if sharedProject.entryUserVisible %}
                        <th></th>
                        {% endif %}
                        {% if sharedProject.entryRateVisible %}
                        <th></th>
                        <th>{{ rateSum | format_currency(currency) }}</th>
                        {% endif %}
                    </tr>
                </tfoot>
                {% endif %}
            </table>
            {% else %}
                    {% include '@SharedProjectTimesheets/view/chart/monthly-chart.html.twig' with {year: year, month: month, statsPerDay: statsPerDay} %}
            {% endif %}

            {% if timeRecords is empty %}
                <p class="margin">{{ 'shared_project_timesheets.view.table.empty' | trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}